<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
</head>
<body>
    <center>
        <h1>Phạm Anh Dũng</h1>
        <h3>4/5/1997</h3>
        <h3>Hà Nội</h3>
        <h3>Water Resources University</h3>
        <h4>Hobbies: Football, playing video game, reading book, workout,......</h4>
        <h4>Crush: It's YOU :'( </h4>
        
    </center>
</body>
</html>